#canvas_div
{
position:fixed;
top:0px;
left:0px;
border-style:solid;
border-color:#000000;
border-width:1px;
}

#debug_div
{
position:absolute;
top:0px;
left:820px;
}

#button_div
{
position:absolute;
top:820px;
left:0px;
}

#status_div
{
position:absolute;
top:850px;
left:0px;
}

#debug_log
{
border-width:1px;
border-style:solid;
border-color:#000000;
}

#status_text
{
border-style:solid;
border-width:1px;
border-color:#000000;
}

#io_div
{
position:absolute;
top:350px;
left:820px;
}

#io
{
font-family:"Courier New";
font-size:x-small;
border-width:1px;
border-style:solid;
border-color:#000000;
}